.upper-bar {
    width: 100%;
}

.upper-bar-item {
    margin-left: 20px;
    font-size: larger;
    text-align: left;
    font-weight: bolder;
    cursor: pointer;
    user-select: none;
}

.search-bar {
    width: 50%;
    margin-left: auto;
    display: block;
}

.top-bar-item {
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgb(213, 213, 213);
    padding-top: 15px;
    padding-bottom: 5px;
    cursor: pointer;
    user-select: none;
}

.top-bar-item:hover .bar-item-hover {
    border: 3px solid orange;
}

.top-bar-item-content {
    text-align: center;
    word-wrap: break-word;
}

.bottom-indicator {
    margin: auto auto 0 auto;
    width: 80%;
    border-bottom: 5px solid orange; 
}

.primary-bar {
    margin-left: 0px !important;
    margin-right: 0px !important;
    border: 1px solid rgb(213, 213, 213);
    overflow-x: scroll;
}

.hidebar {
    display: none !important;
}

.item-container {
    height: 80px;
    width: 85px;
    border-radius: 50px;
    margin: 0 auto 0 auto;
    overflow: hidden;
}

.item-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.item-small {
    height: 65px;
    width: 65px;
}

.small-font {
    font-size: smaller;
}

@media screen and (max-width: 600px) {
    .search-bar {
        width: 100%;
    }

    .upper-bar-item {
        margin-left: 0px;
        text-align: center;
    }
}