.success-title {
    color: green;
    text-align: center;
}

.row-content-center {
 display: flex;
 justify-content: center;   
}

.row-content-between {
    display: flex;
    justify-content: space-between;
}