.item-container {
    padding: 7px;
    background-color: grey;
    text-align: center;
    margin: 5px;
    border-radius: 10px;
    /* box-shadow: 5px 5px; */
}

.item-box {
    height: 350px;
    padding: 10px;
    background-color: rgb(219, 153, 153);
}

.item-description {
    padding-top: 10px;
    padding-left: 20px;
    text-align: left;
    word-wrap: break-word;
}

.item-btn {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 90%;
}