.calendar {
    margin: 0px 30px 0px 30px;
}

.carousel-bar {
    margin: 20px 20px 150px 20px!important;
}

.carousel-item {
    height: 250px;
    color: #fff;
    line-height: 160px;
    text-align: center;
    background: var(--custom-primary-color);
}