.order-items-container {
    margin: 25px auto;
    width: 1200px;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
}

.order-main-title {
    color: grey;
    font-weight: bold;
    font-size: small;
}

.order-item-title {
    color: grey;
    font-weight: bold;
    font-size: small;
    width: 35%;
    text-align: end;
}

.order-item-subtitle {
    font-size: small;
    width: 55%;
}

.customize {
    font-size: smaller;
    font-weight: bold;
    cursor: pointer;
    color: var(--custom-primary-7);
}

.external-box-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.inner-box-container {
    display: flex;
}

.inner-box-item {
    margin: 0px 7px 0px 7px;
}

.switch-increase {
    display: flex;
    width: 120px;
    margin-left: 50px;
    /* margin-right: 50px; */
}

.switch-increase-inner {
    width: 100%;
    text-align: center;
    line-height: 25px;
}

@media screen and (max-width: 1200px) {
    .order-items-container {
        margin: auto;
        width: auto;
        border: none;
    }
    .order-item-subtitle {
        width: 30%;
    }
    .order-item-title {
        width: 20%;
    }
}