.loading-container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;

    backdrop-filter: blur(5px);
}

.loading-logo {
    animation: zooming-animation 0.5s infinite alternate;
}

@keyframes zooming-animation {
    from {
        transform: scale(0.1);
    }
    to {
        transform: scale(0.2);
    }
}